- @title = [@json.dig("design", "name"), @json.dig("event", "name")].compact.join(" - ")

- response = @json.dig("sheet_variable", "response")
- start = (@json.dig("design", "current_page") - 1) * 100 / @json.dig("design", "pages_count")
- percent = (@json.dig("design", "current_page")) * 100 / @json.dig("design", "pages_count")

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  = render "survey/progress_bar", start: start, percent: percent
  .container
    = form_with(url: survey_submit_page_path(params[:event], params[:design], @page), method: :patch, local: true, autocomplete: "off", enforce_utf8: false) do |form|
      .survey-question-container
        - if @json["section"].present?
          .survey-question
            - if @json.dig("section", "name").present?
              .survey-question-text= @json.dig("section", "name")
            - if @json.dig("section", "description").present?
              .survey-question-desc= @json.dig("section", "description")
        - elsif @json["variable"].present?
          .survey-question
            - if @json.dig("group", "name").present?
              .survey-question-lead= @json.dig("group", "name")
            - if @json.dig("group", "description").present?
              .survey-question-desc= simple_format @json.dig("group", "description")
            .survey-question-text= @json.dig("variable", "display_name")
            - case @json.dig("variable", "variable_type")
            - when "checkbox", "date", "dropdown", "imperial_height", "imperial_weight", "integer", "numeric", "radio", "string", "text", "time_duration", "time_of_day"
              = render "survey/variables/#{@json.dig("variable", "variable_type")}", form: form, response: response
            - else
              %p.lead.text-muted= @json.dig("variable", "variable_type")

        = form.submit "Next", class: "btn btn-primary btn-block"

    .survey-question-skip
      = link_to survey_page_path(params[:event], params[:design], @page + 1), data: { confirm: "Skip this question?" } do
        Skip question
        %i.fa.fa-caret-right


- if false
  .page-box.last-slide.background-p50-grey.center-vertically-xs-sm
    .container
      %h1= @json["design"]["name"]
      %h1= @status
      %p.lead
        Page
        %strong= @json["design"]["current_page"]
        of
        %strong= @json["design"]["pages_count"]

      - response = @json["sheet_variable"]["response"] if @json["sheet_variable"]

      - if false
        = @json.inspect
        %h2= response

      = form_with(url: survey_submit_page_path(params[:event], params[:design], @page), method: :patch, local: true, autocomplete: "off", enforce_utf8: false) do |form|
        - if @json["section"]
          %h2= @json["section"]["name"]
          = simple_format @json["section"]["description"] if @json["section"]["description"].present?
        - elsif @json["variable"]
          %h2= @json["variable"]["display_name"]
          %p.lead.text-muted= @json["variable"]["variable_type"]
          - case @json["variable"]["variable_type"]
          - when "radio"
            - @json["variable"]["domain_options"].each do |domain_option_json|
              %div
                = domain_option_json.inspect
                %br
                = form.radio_button "response", domain_option_json["value"], checked: domain_option_json["value"] == response # selected.to_s == value.to_s
                = domain_option_json["name"]
          - when "checkbox"
            %ul
              - @json["variable"]["domain_options"].each do |domain_option_json|
                %li
                  %i.fa.fa-square-o
                  = domain_option_json["name"]
          - when "string"
            .form-group
              = form.label key, error_message, class: "form-control-label"
              = form.text_field :full_name, class: "form-control form-control-danger"
          - when "integer"
            .form-group
              = form.label @json["variable"]["name"], @json["variable"]["display_name"], class: "form-control-label"
              = form.text_field @json["variable"]["name"], class: "form-control form-control-danger"
              %small.form-text.text-muted= @json["variable"]["units"]
          - when "integer", "checkbox", "time_of_day", "imperial_height", "string"

        .form-group.submit-btn-container
          = form.submit "Continue", class: "btn btn-primary btn-block"


        = link_to survey_page_path(params[:event], params[:design], @page + 1) do
          Skip question
          %i.fa.fa-caret-right
