.page-box.last-slide.background-p50-grey
  .sign-up-form
    .sign-up-form-title
      Resend confirmation instructions

    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form-vertical", autocomplete: "off" }) do |f|
      .form-group
        = render "layouts/label_or_errors", form: f, object: resource, key: :email
        = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control form-control-danger", autocorrect: "off", autocapitalize: "none", spellcheck: "false"

      .form-group.submit-btn-container
        = f.submit "Resend confirmation instructions", class: "btn btn-primary btn-block"

  .sign-up-form.text-center
    = render "devise/shared/links"
