- @title = "Consent"

.page-box.last-box.background-p50-grey
  .consent
    %h1
      .float-right
        = link_to consent_path(format: "pdf"), class: "btn btn-sm btn-outline-dark", data: { turbolinks: false } do
          %i.fa.fa-print
          PDF
      = @title
    = render "consent/00_header"
    = render "consent/01_about"
    = render "consent/02_why_research"
    = render "consent/03_how_long"
    = render "consent/04_happen"
    = render "consent/05_risks"
    = render "consent/06_benefits"
    = render "consent/07_medical_care"
    = render "consent/08_stop_study"
    = render "consent/09_paid"
    = render "consent/10_pay"
    = render "consent/11_injured"
    = render "consent/12_questions"
    = render "consent/13_privacy"
    = render "consent/14_authorization"
    = render "consent/15_footer"
