- @title = "Consent Revisions"

.page-box.last-box.background-p50-grey
  .consent
    %h1= @title

    %h2
      .float-right{ style: "font-weight: normal;" }
        = link_to "https://github.com/sleepepi/sleepinnovate.org/commit/aec9eade25051be6a139d52978f396021ba68ea2", target: "_blank" do
          See changes
          = icon("fas", "angle-right")
      2018-11-09

    %ul
      %li Consent language simplified and rewritten given that the consent is online and minimal risk.

    %h2
      .float-right{ style: "font-weight: normal;" }
        = link_to "https://github.com/sleepepi/sleepinnovate.org/commit/ce02d01d2715fc2236545f5cefcf8e3a9dd90615", target: "_blank" do
          See changes
          = icon("fas", "angle-right")
      2018-04-12

    %ul
      %li MGH Site Principal Investigator Josna Adusumilli replaced by Aleksandar Vilenovic.
      %li James E. Mojica added as Spaulding Site Principal Investigator.

    %h2
      .float-right{ style: "font-weight: normal;" }
        = link_to "https://github.com/sleepepi/sleepinnovate.org/commit/5abd6d646bab26dccc7149bdc7970d74175861a6", target: "_blank" do
          See changes
          = icon("fas", "angle-right")
      2018-02-21

    %ul
      %li
        The lottery is now drawn twice each quarter, up from once each quarter.

    %h2
      .float-right{ style: "font-weight: normal;" }
        = link_to "https://github.com/sleepepi/sleepinnovate.org/commit/85b79ffc9ff11335a26fda54a2c0f3e2ad3a874e", target: "_blank" do
          See changes
          = icon("fas", "angle-right")
      2018-02-08

    %ul
      %li MGH Site Principal Investigator Matt Bianchi replaced by Josna Adusumilli.
      %li Lottery gift card reduced from $100 down to $50.

    %h2 2017-09-11
    %ul
      %li.text-muted Initial IRB approved consent.
