- @title = "Consent"

.page-box.last-box.background-p50-grey
  .consent
    %h1
      .float-right
        = link_to consent_path(format: "pdf"), class: "btn btn-sm btn-outline-dark", data: { turbolinks: false } do
          %i.fa.fa-print
          PDF
      = @title
    = render "consent/00_header"

    %h2
      What is the purpose of the research?
    %p
      The purpose of the
      = render "layouts/logo"
      study is to learn more about why patients get sleep disorders, how sleep
      disorders affect daily life, and how satisfied patients are with
      treatment. This study hopes to better understand sleep disorders to
      improve care and quality of life better for patients.

    %h2
      Why am I being asked to participate?
    %p
      We are asking you to take part in this research study because you have had
      a sleep study, are scheduled to have a sleep study, or have a diagnosis of
      a sleep disorder. To participate in this study, you need to be 18 or older
      and read English.

    %h2
      How many people will participate?
    %p
      We hope to enroll at least 2,000 people into the
      = render "layouts/logo"
      study.


    %h2
      What happens if I decide to participate and how long will it take?
    %h3
      Health surveys and brain quizzes:
    %p
      After you consent to the
      = render "layouts/logo"
      study, you will create an ID and password to log into the study website.
      On the website, you will be asked to complete surveys and brain quizzes on
      our secure web portal.
    %ul
      %li
        Health surveys will take less than 30 minutes for most people to
        complete. They will ask questions about demographics, health, general
        functioning, and sleep habits.
      %li
        Brain quizzes may take a total of 20-minutes to complete. The short
        quizzes will test different brain functions like concentration and
        memory. The quizzes are administered by The Many Brains Project
        (testmybrain.org), a non-profit organization that creates testing tools
        for research studies. The Many Brains Project will have access to the
        testing results but no information that could identify you.
    %p
      We will give you feedback on how you did when you finish some of the
      surveys and when you finish the brain quizzes. We do not expect there to
      be any risks to you from taking the surveys or brain quizzes. For
      questions that might make you feel uncomfortable, you have the option to
      skip that question or decline to respond. You are also free to end the
      survey or brain quiz at any time.
    %p
      We hope to track your progress for at least 2 years. This is very
      important to help understand how the health of sleep patients changes
      overtime. We will follow-up by email and ask you to complete the surveys
      after approximately 3 months, 6 months, 12 months, and 24 months. These
      reminder emails will not be encrypted; however, we will never send your
      personal information in an email. The reminder emails will be sent to the
      email address that you give us.


    %h2
      Will information be gathered from other sources?
    %h3
      Medical record health information:
    %p
      In addition to the surveys and brain quizzes, we are asking for your
      permission to access to your health information and save this information
      on a secure research database:
    %ul
      %li
        Sleep study data: summary sleep reports, the waveforms collected on the
        sleep study, CPAP adherence data (if you have had a sleep study or use
        CPAP type devices).
      %li
        Partners Health electronic medical records: extract information on your
        health conditions, treatments, health behaviors, hospitalizations,
        procedures, and laboratory results.
    %h3
      Partners Biobank:
    %p
      If you have not already enrolled or declined to enroll, we will also
      invite you to enroll in the Partners Biobank. If you wish to participate,
      we will review a separate consent form with you.

    %h2
      How will sensitive information be handled and kept confidential and
      secure?
    %p
      For your security, "identifying information" such as name and date of
      birth, will be removed from your information and then deposited in a
      research repository that will be accessed by other researchers.
      Information collected about you will be combined with the information of
      other people in the research study. Results will always report aggregate
      trends and never include personal information, like your name, without
      your specific permission.
    %p
      The following parties may see, use, and share your identifiable health
      information:
    %ul
      %li
        Partners research staff involved in this study
      %li
        The sponsor(s) of this study, and the people or groups it hires to help
        perform this research
      %li
        Other researchers and medical centers that are part of this study and
        their ethics boards
      %li
        A group that oversees the data (study information) and safety of this
        research
      %li
        Non-research staff within Partners who need this information to do their
        jobs (such as for treatment, payment (billing), or health care
        operations)
      %li
        The Partners ethics board that oversees the research and the Partners
        research quality improvement programs.
      %li
        People from organizations that provide independent accreditation and
        oversight of hospitals and research
      %li
        People or groups that we hire to do work for us, such as data storage
        companies, insurers, and lawyers
      %li
        Federal and state agencies (such as the Food and Drug Administration,
        the Department of Health and Human Services, the National Institutes of
        Health, and other US or foreign government bodies that oversee or review
        research)
      %li
        Public health and safety authorities (for example, if we learn
        information that could mean harm to you or others, we may need to report
        this, as required by law)

    %p
      Some people or groups who get your health information might not have to
      follow the same privacy rules that we follow and might use or share your
      health information without your permission in ways that are not described
      in this form. For example, we understand that the sponsor of this study
      may use your health information to perform additional research on various
      products or conditions, to obtain regulatory approval of its products, to
      propose new products, and to oversee and improve its products'
      performance. We share your health information only when we must, and we
      ask anyone who receives it from us to take measures to protect your
      privacy. The sponsor has agreed that it will not contact you without your
      permission and will not use or share your information for any mailing or
      marketing list. However, once your information is shared outside Partners,
      we cannot control all the ways that others use or share it and cannot
      promise that it will remain private.
    %p
      Because research is an ongoing process, we cannot give you an exact date
      when we will either destroy or stop using or sharing your health
      information.
    %p
      We are required by the Health Insurance Portability and Accountability Act
      (HIPAA) to protect the privacy of health information obtained for
      research. This is an abbreviated notice and does not describe all details
      of this requirement
      = surround "(see ", "*)." do
        = link_to "Partners Privacy Notice", "#{ENV["website_url"]}/hipaa/privacy-notice-eng-rev-8-2013.pdf"
      During this study, identifiable information about you or your health will
      be collected and shared with the researchers conducting the research. In
      general, under federal law, identifiable health information is private.
      However, there are exceptions to this rule. In some cases, others may see
      your identifiable health information for purposes of research oversight,
      quality control, public health and safety, or law enforcement. We share
      your health information only when we must, and we ask anyone who receives
      it from us to protect your privacy.

    %h3
      Your Privacy Rights
    %p
      You have the right not to sign this form that allows us to use and share
      your health information for research; however, if you don't sign it, you
      can't take part in this research study.
    %p
      You have the right to withdraw your permission for us to use or share your
      health information for this research study. If you want to withdraw your
      permission, you must notify the person in charge of this research study in
      writing. Once permission is withdrawn, you cannot continue to take part in
      the study.
    %p
      If you withdraw your permission, we will not be able to take back
      information that has already been used or shared with others.
    %p
      You have the right to see and get a copy of your health information that
      is used or shared for treatment or for payment. To ask for this
      information, please contact the person in charge of this research study.
      You may only get such information after the research is finished.

    %h2
      What is the risk of a breach of confidentiality?
    %p
      Although we will do our best to protect your study information, there is
      still a very small risk of loss of privacy. All study staff will be
      trained and certified in the ethical conduct of human subject research and
      how to keep all study information strictly confidential.

    %h2
      What are the benefits of participating?
    %p
      We will introduce you to a sleep education website, MyApnea.Org. You can
      get more information on sleep disorders from the blog articles and learn
      from other patients and clinicians on the forum. We hope that your
      participation will help improve our understanding of sleep disorders and
      lead to improved treatments and diagnoses.

    %h2
      Will I be paid for participating?
    %p
      If you are recruited to join the study while you are at the clinic or
      sleep laboratory, you will receive a parking voucher (worth up to $10).
      When you complete each set of surveys and brain quizzes, you will be
      entered into a lottery to receive a $50 gift card. The lottery is drawn
      twice every 3 months. If you win, you will receive the gift card through
      email.

    %h2
      Is participation voluntary?
    %p
      Participation is voluntary, and you can stop at any time. If you decide to
      drop out, please contact us to tell us. We may talk to you about follow-up
      care, if needed.
    %p
      It is possible that you will be asked to drop out of the study before you
      finish it. If this happens, we will tell you why.

    %h2
      Can I still get medical care within Partners if I don't take part in this
      research study, or if I stop taking part?
    %p
      Deciding not to participate won't affect medical care you receive at
      Partners now or in the future, or any benefits you receive now or have a
      right to receive.

    %h2
      How do I contact the study team?
    %p
      For general questions about the research study, email
      support@sleepinnovate.org or call Carolina dos Santos at 617-278-0746.
    %p
      Susan Redline, MD, MPH is the person in charge of this research study. You
      can call her at 617- 732-5859.
    %p
      If you'd like to speak to someone not involved in this research about your
      rights as a research subject, or any concerns or complaints you may have
      about the research, contact the Partners Human Research Committee at
      857-282-1900.
    %p
      You can talk to them about:
    %ul
      %li Your rights as a research subject
      %li Your concerns about the research
      %li A complaint about the research
    %p
      Also, if you feel pressured to take part in this research study, or to
      continue with it, they want to know and can help.
    %p
      We may contact you in the future to get additional information and ask if
      you are interested in joining other research studies.

    = render "consent/14_authorization"
    = render "consent/15_footer"
