- @title = "Consent"

.page-box.last-slide.background-p50-grey
  .consent
    %h1
      .pull-right
        = link_to consent_path(format: "pdf"), class: "btn btn-sm btn-secondary", data: { turbolinks: false } do
          %i.fa.fa-print
          PDF
      = @title

    = render "consent/01_about"
    = render "consent/02_why_research"
    = render "consent/03_how_long"
    = render "consent/04_happen"
    = render "consent/05_risks"
    = render "consent/06_benefits"
    = render "consent/07_medical_care"
    = render "consent/08_stop_study"
    = render "consent/09_paid"
    = render "consent/10_pay"
    = render "consent/11_injured"
    = render "consent/12_questions"
    = render "consent/13_privacy"
    = render "consent/14_authorization"

    - if current_user && current_user.unconsented?
      %hr

      = link_to "I Consent", "#", data: { object: "consent-with-signature" }, class: "btn btn-lg btn-primary"
      = link_to "I do not consent.", dashboard_path, class: "btn btn-link"
