- @title = "Contact Us"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .panel
    %h1= @title
    %p
      Please email
      = mail_to "support@sleepinnovate.org"
      with any questions.

    %p
      Susan Redline, MD, MPH is the person in charge of this research study.
      You can call her at
      = succeed "." do
        = link_to "617-732-5859", "tel:617-732-5859"

    %p
      If you have questions about the scheduling of appointments or study visits,
      call Carolina dos Santos at
      = succeed "." do
        = link_to "617-278-0746", "tel:617-278-0746"

    %p
      If you want to speak with someone
      %strong not
      directly involved in this research study, please contact the Partners Human
      Research Committee office. You can call them at
      = succeed "." do
        = link_to "857-282-1900", "tel:857-282-1900"
