- @title = "Enrollment Exit"

.page-box.last-box.background-p50-grey.center-vertically-xs-sm
  .container
    .jumbotron.jumbotron-white
      %p
        Thank you for considering to participate in
        = succeed "." do
          = render "layouts/logo"

      %p
        If you change your mind, please review the consent again. If you have
        any questions, please
        = succeed "." do
          = link_to "contact us", contact_path

    .text-center
      = link_to landing_path, class: "btn btn-lg btn-success", data: { object: "start-new-session" } do
        Start new session
        = icon("fas", "caret-right")
