%p{ style: p_style }
  You have consented to be part of the
  = render "layouts/mailer/logo"
  study.

%p{ style: p_style }
  You can download a copy of the consent through the link below:

%p{ style: center_style }
  = link_to "View consent", "#{ENV["website_url"]}/consent", style: link_style

= render "layouts/mailer/technical_help"

%p{ style: p_style }
  Thanks again,
%p{ style: p_style }
  The
  = render "layouts/mailer/logo"
  Team
