.sign-up-form
  .sign-up-form-title
    Create your account
  = form_with(model: resource, url: registration_path(resource_name), local: true, class: "form-vertical", autocomplete: "off") do |form|
    .form-group
      = render "layouts/label_or_errors", form: form, object: resource, key: :full_name
      = form.text_field :full_name, class: "form-control form-control-danger"

    .form-group
      = render "layouts/label_or_errors", form: form, object: resource, key: :email
      = form.email_field :email, class: "form-control form-control-danger"

    - if RECAPTCHA_ENABLED
      .form-group
        %label.form-control-label Human Verification
        %div{ style: "height: 78px;margin-left: 27.5px" }
          .g-recaptcha{ data: { sitekey: ENV["recaptcha_site_key"] } }
          <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    .form-group.submit-btn-container
      = form.submit "Create Account", class: "btn btn-success btn-block"

.sign-up-form.text-center
  = link_to "I already have an account.", new_user_session_path
