- @title = "Awards"

.page-box.last-box.background-p50-grey.center-vertically-xs-sm
  .container
    %h1{ style: "color: #bdbdbd;font-weight: 300;" }= @title

    - if current_user.consented?
      %p
        Earn a lottery ticket for completing sets of surveys.
        %ul
          - Event.order(:month).each do |event|
            - unless current_user.event_surveys_total(event).zero?
              - if current_user.event_surveys_total(event) == current_user.event_surveys_total(event)
                %li.small
                  = icon("far", "check-square", class: "text-success")
                  = event.name
                  = surround "[", "]" do
                    = current_user.event_surveys_completed(event)
                    of
                    = current_user.event_surveys_total(event)
                    completed
              - else
                %li.small.text-muted
                  = icon("far", "square")
                  = event.name
                  = surround "[", "]" do
                    = current_user.event_surveys_completed(event)
                    of
                    = current_user.event_surveys_total(event)
                    completed

      %p
        You have earned
        %strong= current_user.awards_count
        lottery
        = succeed "." do
          = current_user.awards_count == 1 ? "ticket" : "tickets"

      %p
        The lottery for a $50 gift card is drawn quarterly.
    - elsif current_user.consent_revoked?
      %p
        You are no longer eligible for the lottery drawing.
