- @title = "Consent"

.page-box.last-slide.background-p50-grey
  .consent.consent-signature-page
    .float-right
      %small
        = link_to consent_path do
          %i.fa.fa-caret-left
        %span Page 2 of 2
    = render "consent/14_authorization"
    = form_tag consent_path, method: :post, id: "consent-form" do
      = hidden_field_tag :data_uri

      #signature-pad.signature-form
        .float-right{ style: "padding-right: 20px;margin-top: -10px;" }
          = link_to "#", data: { action: "clear" }, class: "small" do
            %i.fa.fa-eraser
            %span Clear
            %span.d-none.d-sm-inline Signature
        .m-signature-pad
          %div{ class: "m-signature-pad--body" }
            %div{ style: "margin-top: 15px;margin-left: 15px;" }
              %small.form-text{ style: "color: #bdbdbd;font-style: italic;" } Sign here
            %canvas

        .signature-form-footer
          .row
            .col
              .text-left
                = link_to consent_path, method: :delete, class: "btn btn-lg btn-outline-secondary", data: { confirm: "Click \"OK\" to exit enrollment process." } do
                  I Do Not Consent
            .col
              .text-right
                = link_to "I Consent", "#", data: { object: "consent-with-signature" }, class: "btn btn-lg btn-success btn-shadow"
