- @title = "Signature"

.page-box.page-box-no-padding.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    = form_tag consent_path, method: :post, id: "consent-form" do
      = hidden_field_tag :data_uri

      #signature-pad.signature-form
        %h1
          = @title
        .signature-form-description
          I give my consent to take part in this research study and agree to
          allow my health information to be used and shared as described in the
          = succeed "." do
            = link_to "SleepINNOVATE consent form", consent_path

          .pull-right
            = link_to "#", data: { action: "clear" }, class: "btn btn-sm btn-link" do
              %i.fa.fa-eraser
              %span Clear
              %span.d-none.d-sm-inline Signature
        .m-signature-pad
          %div{ class: "m-signature-pad--body" }
            %div{ style: "margin-top: 15px;margin-left: 15px;" }
              %small.form-text{ style: "color: #bdbdbd;font-style: italic;" } Sign here
            %canvas

        .signature-form-footer
          .row
            .col
              .text-left
                = link_to consent_path, method: :delete, class: "btn btn-link" do
                  %i.fa.fa-caret-left
                  Leave study
            .col
              .text-right
                = link_to "I Consent", "#", data: { object: "consent-with-signature" }, class: "btn btn-lg btn-success btn-shadow"
