- @title = "Dashboard"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    - if current_user.admin?
      .jumbotron.jumbotron-white
        %p
          Welcome to
          = succeed "!" do
            = render "layouts/logo"
          As an admin you may
          = succeed ":" do
            = link_to "view and administrate users", admin_users_path

        %ul
          %li Assign missing subject codes
          %li Undo accidental study withdrawals
          %li Update users' clinic and Biobank status
          %li View completed Test My Brain surveys
          %li Jump to users' Slice subject pages

      - user_scope = User.consented.where(consent_revoked_at: nil)
      .row
        .col-12.col-sm.text-center
          .jumbotron.jumbotron-white
            .lead.text-muted.nowrap Consented This Week
            .display-1= number_with_delimiter user_scope.where("DATE(consented_at) >= ?", Time.zone.today.beginning_of_week(:sunday)).count
        .col-12.col-sm.text-center
          .jumbotron.jumbotron-white
            .lead.nowrap= link_to "Total Consented", admin_consented_path, class: "link-muted"
            .display-1= number_with_delimiter user_scope.count

    - elsif current_user.refused?
      .jumbotron.jumbotron-white
        %p
          Thank you for considering to participate in
          = succeed "." do
            = render "layouts/logo"
        %p
          If you change your mind, please review the consent again. If you have
          any questions, please
          = succeed "." do
            = link_to "contact us", contact_path
      .text-center
        = link_to destroy_user_session_path, method: :delete, class: "btn btn-lg btn-success" do
          Start new session
          %i.fa.fa-caret-right
    - elsif current_user.withdrawn?
      .jumbotron.jumbotron-white
        %h2 Withdrawn from Study
        %p
          You withdrew from
          = render "layouts/logo"
          on
          = current_user.consent_revoked_at.strftime("%B #{current_user.consent_revoked_at.day.ordinalize}, %Y.")

          Thank you for participating.
        %p
          If you would like to rejoin the study, please review the consent again. If you have any questions, please
          = succeed "." do
            = link_to "contact us", contact_path
      .text-center
        = link_to destroy_user_session_path, method: :delete, class: "btn btn-lg btn-success" do
          Start new session
          %i.fa.fa-caret-right
    - elsif current_user.unconsented?
      .jumbotron.jumbotron-white
        %h2 Consent to study
        %p
          Please
          = link_to "read through the consent", consent_path
          to start surveys on the
          = render "layouts/logo"
          study.
    - elsif !current_user.profile_complete?
      .jumbotron.jumbotron-white
        %h2 Complete your profile
        %p
          Please
          = link_to "complete your profile", profile_complete_path
          to start surveys on the
          = render "layouts/logo"
          study.
    - else
      .card-deck.mb-3.flex-column.flex-md-row
        - if current_user.subject_events.blank?
          = render "cards/no_surveys"
        - elsif current_user.next_survey
          = render "cards/ongoing", event_design: current_user.next_survey
        - else
          = render "cards/completed", subject_event: current_user.subject_events.first

        - if current_user.subject_events.blank?
          = render "cards/brain_starting_soon"
        - elsif current_user.brain_surveys_completed? && ENV["test_my_brain_enabled"] == "true"
          = render "cards/brain_completed"
        - elsif current_user.brain_surveys_started? && ENV["test_my_brain_enabled"] == "true"
          = render "cards/brain_started"
        - elsif current_user.brain_surveys_viewable? && ENV["test_my_brain_enabled"] == "true"
          = render "cards/brain"
        - else
          = render "cards/brain_starting_soon"

        - if current_user.biobank_registration_completed?
          = render "cards/biobank_completed"
        - elsif current_user.biobank_registration_started?
          = render "cards/biobank_started"
        - elsif current_user.biobank_viewable?
          = render "cards/biobank"
        - else
          = render "cards/biobank_starting_soon"


      - if current_user.parking_voucher? && session[:clinic].present?
        %p.lead.text-center
          %i.fa.fa-car
          Redeem your
          = succeed "." do
            = link_to "parking voucher", parking_path
      - elsif current_user.whats_next?
        %p.lead.text-center
          Congrats, you are all done!
          = link_to "What's next?", whats_next_path
