- @title = "Dashboard"

- if false
  %h1= @title

- if current_user.consented?

  - if current_user.events.present?
    - current_user.events.each do |event, surveys|
      %h2= event
      %ul
        - surveys.each do |survey|
          %li
            = link_to survey, survey_path
            50% complete

  - else
    You have completed all of your surveys!


  %p
    Your beautiful signature.

  = image_tag signature_path, style: "max-width: 100%; height: auto;"

  %p
    = link_to "View Consent", consent_path

- else
  .jumbotron
    %h2 Step 1: Consent
    %p
      To get started,
      = link_to "read the consent", consent_path
      for SleepINNOVATE.

