- @title = "Dashboard"

%h1= @title

- if current_user.consented?
  - if current_user.subject_events.present?
    - current_user.subject_events.each do |subject_event|
      = link_to "#{ENV['slice_url']}/projects/#{ENV['project_id']}/subjects/#{current_user.subject.id}", "#{ENV['slice_url']}/projects/#{ENV['project_id']}/subjects/#{current_user.subject.id}", target: "_blank"
      %h2
        = subject_event.name
        %small.text-muted= "#{subject_event.percent}% complete"
      - if subject_event.event_designs.present?
        - subject_event.event_designs.each do |design|
          %div
            %strong= design.name
            - if design.sheets.present?
              %ul
                - design.sheets.each do |sheet|
                  %li
                    =# link_to sheet.name, sheet.path
                    =# link_to "Survey Overview", show_survey_path(subject_event_id: subject_event.id, design_id: design.id, sheet_id: sheet.id)
                    = link_to "Continue Survey", "#{ENV['slice_url']}/survey/#{sheet.design_slug}/#{sheet.authentication_token}"
                    = "#{sheet.percent}% complete"
            - else
              %ul
                %li= link_to "Start Survey", start_survey_path(subject_event_id: subject_event.id, design_id: design.id), method: :post
  - else
    You have completed all of your surveys!

  %p
    Your beautiful signature.

  = image_tag signature_path, style: "max-width: 100%; height: auto;"

  %p
    = link_to "View Consent", consent_path

- else
  .jumbotron
    %h2 Step 1: Consent
    %p
      To get started,
      = link_to "read the consent", consent_path
      for SleepINNOVATE.

