- @title = "Dashboard"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container

    - if current_user.consent_revoked?
      .jumbotron.jumbotron-white
        %h2 Withdrawn from Study
        %p You have withdrawn from the SleepINNOVATE study.
        %p
          Please
          = link_to "notify the person", contact_path
          in charge of this research study in writing.
    - elsif current_user.slice_surveys_step?
      - if current_user.subject_events.present?
        .row
          - if current_user.next_survey
            .col-lg-4.col-buffer= render "cards/ongoing", event_design: current_user.next_survey
          - else
            .col-lg-4.col-buffer= render "cards/completed", subject_event: current_user.subject_events.first
          .col-lg-4.col-buffer= render "cards/coming_soon", title: "3 Month Phonecall"
          - if false
            .col-lg-4.col-buffer= render "cards/awards"

        - if false
          .row
            .col-lg-4.col-buffer= render "cards/consents"

            .col-lg-4.col-buffer= render "cards/get_in_touch"



        - if false
          %hr

          %p
            Your beautiful signature.

          = image_tag signature_path, style: "max-width: 100%; height: auto;"

          %p
            = link_to "View Consent", consent_path


      - else
        You have not been assigned any surveys!
    - elsif current_user.test_my_brain_step?
      .row
        .col-lg-4.col-buffer= render "cards/completed", subject_event: current_user.subject_events.first
        .col-lg-4.col-buffer= render "cards/testmybrain"
    - elsif current_user.biobank_step?
      .row
        .col-lg-4.col-buffer= render "cards/completed", subject_event: current_user.subject_events.first
        .col-lg-4.col-buffer= render "cards/testmybrain_completed"
        .col-lg-4.col-buffer= render "cards/biobank"
    - elsif current_user.finished_step?
      .row
        .col-lg-4.col-buffer= render "cards/all_three_finished"
        .col-lg-4.col-buffer= render "cards/coming_soon", title: "3 Month Phonecall"
      - if false
        .row
          .col-lg-4.col-buffer= render "cards/completed", subject_event: current_user.subject_events.first
          .col-lg-4.col-buffer= render "cards/testmybrain_completed"
          .col-lg-4.col-buffer= render "cards/biobank_completed"
    - else
      .jumbotron.jumbotron-white
        %h2 Step 1: Consent
        %p
          To get started,
          = link_to "read the consent", consent_path
          for SleepINNOVATE.
