- @title = "Link Your Medical Record"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    %h1= @title
    %p.lead
      Help us connect your account to your medical record.
      You may skip this question, however, we may send you reminders to complete
      this step by phone later.

    = form_with(url: medical_record_connect_path, method: :patch, local: true) do |form|
      .form-group{ class: @date_error.nil? ? nil: "has-danger" }
        - message = @date_error.nil? ? "Date of birth" : "Date of birth is invalid"
        = form.label :date_of_birth, message, class: "form-control-label"
        = form.text_field :date_of_birth, class: "form-control form-control-danger", data: { mask: "00/00/0000" }, value: params[:date_of_birth]
        %small.form-text.text-muted mm/dd/yyyy

      .form-group.submit-btn-container
        = form.submit "Continue", class: "btn btn-primary"
        = link_to "Skip this question.", dashboard_path, class: "btn btn-link"
