- @title = "Surveys"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  - current_user.subject_events.each do |subject_event|
    .panel.panel-full-width
      %h1= subject_event.name
      - if subject_event.percent.to_i.zero?
        .progress.progress-simple
          .progress-bar.progress-bar-striped{ role: "progressbar", style: "width: 100%;background-color: #ededed;", aria: { valuenow: "0", valuemin: "0", valuemax: "100" } }
      - else
        .progress.progress-simple
          .progress-bar.progress-bar-striped.bg-success{ role: "progressbar", style: "width: #{subject_event.percent}%;", aria: { valuenow: "#{subject_event.percent}", valuemin: "0", valuemax: "100" } }
      .float-right
        %small.text-muted= "#{subject_event.percent}%"
      .clearfix
      .card-columns
        - subject_event.event_designs.each do |event_design|
          .card
            .card-body
              .small.card-title
                = event_design.design_name
              - if event_design.percent.to_i.zero?
                .progress.progress-simple
                  .progress-bar.progress-bar-striped{ role: "progressbar", style: "width: 100%;background-color: #ededed;", aria: { valuenow: "0", valuemin: "0", valuemax: "100" } }
              - else
                .progress.progress-simple
                  .progress-bar.progress-bar-striped.bg-success{ role: "progressbar", style: "width: #{event_design.percent}%;", aria: { valuenow: "#{event_design.percent}", valuemin: "0", valuemax: "100" } }

            .card-footer
              .float-right
                %small.text-muted= "#{event_design.percent}%"
              - if event_design.valid? && event_design.incomplete?
                - if event_design.percent.zero?
                  = link_to survey_start_path(event_design.event_id, event_design.design_id) do
                    Start
                    %i.fa.fa-caret-right
                - else
                  = link_to survey_resume_path(event_design.event_id, event_design.design_id) do
                    Resume
                    %i.fa.fa-caret-right
              .clearfix

