%li.nav-item.dropdown
  = link_to current_user.subject_code || "Home", "#", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }, class: "nav-link dropdown-toggle"
  .dropdown-menu.dropdown-menu-right
    = link_to "My Awards", awards_path, class: "dropdown-item"
    = link_to "Settings", settings_path, class: "dropdown-item"
    .dropdown-divider
    = link_to "Dashboard 2", dashboard2_path, class: "dropdown-item"
    .dropdown-divider
    - if false
      = link_to "Action", "#", class: "dropdown-item"
      = link_to "Another action", "#", class: "dropdown-item"
      .dropdown-divider
    = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
      %i.fa.fa-sign-out
      Sign out
