%li.nav-item.dropdown
  = link_to current_user.subject_code, "#", data: { toggle: "dropdown" }, aria: { haspopup: "true", expanded: "false" }, class: "nav-link dropdown-toggle"
  .dropdown-menu.dropdown-menu-right
    - if current_user.consented?
      = link_to awards_path, class: "dropdown-item" do
        %i.fa.fa-trophy
        My Awards
    = link_to settings_path, class: "dropdown-item" do
      %i.fa.fa-cogs
      Settings
    .dropdown-divider
    - if current_user.admin?
      = link_to admin_path, class: "dropdown-item text-success" do
        %i.fa.fa-user-md
        Admin
      .dropdown-divider
    - if false
      = link_to dashboard2_path, class: "dropdown-item text-danger" do
        %i.fa.fa-exclamation-triangle
        Dashboard 2
      .dropdown-divider
      = link_to "Action", "#", class: "dropdown-item"
      = link_to "Another action", "#", class: "dropdown-item"
      .dropdown-divider
    = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
      %i.fa.fa-sign-out
      Sign out
