%h2
  If I have questions or concerns about this research study, whom can I call?

%p
  You can call us with your questions or concerns. Our telephone numbers are
  listed below. Ask questions as often as you want.

%p
  Susan Redline, MD, MPH is the person in charge of this research study. You can
  call her at
  = succeed "." do
    = link_to "617-732-5859", "tel:617-732-5859"
  Dr. Redline is available M-F 9am-5pm. You can also call Carolina Dos Santos
  = link_to "617-278-0746", "tel:617-278-0746"
  with questions about this research study. She is available M-F 9am-5pm.

%p
  If you have questions about the scheduling of appointments or study visits,
  call Carolina Dos Santos at
  = succeed "." do
    = link_to "617-278-0746", "tel:617-278-0746"

%p
  If you want to speak with someone
  %strong not
  directly involved in this research study, please contact the Partners Human
  Research Committee office. You can call them at
  = succeed "." do
    = link_to "857-282-1900", "tel:857-282-1900"

%p
  You can talk to them about:

%ul
  %li Your rights as a research subject
  %li Your concerns about the research
  %li A complaint about the research

%p
  Also, if you feel pressured to take part in this research study, or to
  continue with it, they want to know and can help.
