%h2
  Informed Consent and Authorization

%h3
  Statement of Person Giving Informed Consent and Authorization

%ul
  %li
    I have read this consent form.
  %li
    This research study has been explained to me, including risks and possible
    benefits (if any), other possible treatments or procedures, and other
    important things about the study.
  %li
    I have had the opportunity to ask questions.
  %li
    I understand the information given to me.

%h3
  Signature of Subject:

%p
  I give my consent to take part in this research study and agree to allow my
  health information to be used and shared as described above.

- if current_user
  - if current_user.consented?


    %table{ style: "width: 100%;" }
      %col{ width: "200px" }
      %col
      %col
      %tr
        %td= image_tag signature_path, style: "max-width: 100%; height: auto;"
        %td{ style: "vertical-align: bottom;" }= current_user.consented_at.strftime("%-m/%-d/%Y")
        %td.nowrap{ style: "vertical-align: bottom;" }= current_user.consented_at.strftime("%-l:%M %p")
      %tr
        %td
          %div{ style: "border-top: 1px solid #333;" }
            %strong Subject
        %td
          %div{ style: "border-top: 1px solid #333;" }
            %strong Date
        %td
          %div{ style: "border-top: 1px solid #333;" }
            %strong Time
  - else
    = form_tag consent_path, method: :post, id: "consent-form" do
      = hidden_field_tag :data_uri

      #signature-pad.m-signature-pad
        %div{ class: "m-signature-pad--body" }
          %canvas
        %div{ class: "m-signature-pad--footer" }
          .row
            .col
              .text-left
                %small.form-text Subject
            .col
              .text-center
                %small.form-text{ style: "color: #bdbdbd;" } Sign Above
            .col
              .text-right
                %small= link_to "Clear Signature", "#", data: { action: "clear" }
