- if !current_user || (current_user && current_user.unconsented?)
  = form_with url: enrollment_consent_path, method: :post, local: true, id: "consent-form" do |form|
    .d-none.d-md-block.text-center
      = render "consent/i_consent_checkbox", size: "btn-lg"
    .d-block.d-md-none.text-center
      = render "consent/i_consent_checkbox", size: ""
- else
  -# This will also show for current users who have revoked consent, but the consent box will be unchecked.
  - consented = current_user.consented?

- if current_user
  - if current_user.refused?
    .alert.alert-warning.mt-4.mb-0 You refused to join the SleepINNOVATE study.
  - elsif current_user.withdrawn?
    .alert.alert-warning.mt-4.mb-0 You have withdrawn from the SleepINNOVATE study.
  - elsif current_user.consented?
    %table{ style: "width: 100%;" }
      %col{ width: "50%" }
      %col
      %col
      %tr
        %td
          - if current_user.first_login?
            %small.text-muted Name hidden for your privacy.
          - else
            = current_user.full_name
        %td{ style: "vertical-align: bottom;" }= current_user.consented_at.strftime("%-m/%-d/%Y")
        %td.nowrap{ style: "vertical-align: bottom;" }= current_user.consented_at.strftime("%-l:%M %p")
      %tr
        %td
          %div{ style: "border-top: 1px solid #333;" }
            %strong Subject
        %td
          %div{ style: "border-top: 1px solid #333;" }
            %strong Date
        %td
          %div{ style: "border-top: 1px solid #333;" }
            %strong Time

