.page-box.last-slide.background-p50-grey
  .sign-up-form
    .sign-up-form-title
      Forgot your password?

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-vertical", autocomplete: "off" }) do |f|
      .form-group
        = render "layouts/label_or_errors", f: f, object: resource, key: :email
        = f.email_field :email, autofocus: true, class: "form-control form-control-danger", autocorrect: "off", autocapitalize: "none", spellcheck: "false"

      .form-group.submit-btn-container
        = f.submit "Send me reset password instructions", class: "btn btn-primary btn-block"

  .sign-up-form.text-center
    = render "devise/shared/links"
