- @title = "Change Email"

.page-box.last-box.background-p50-grey.center-vertically-xs-sm
  .panel
    %h1= @title

    = form_with(model: current_user, url: settings_change_email_path, method: :patch, local: true, id: "email-form") do |form|
      = render "forms/vertical/password_field", form: form, object: current_user, key: :current_password, autocomplete: "current-password", help_text: "At least <strong>8</strong> characters, including letters <code>a-z</code> and digits <code>0-9</code>.".html_safe
      = render "forms/vertical/email_field", form: form, object: current_user, key: :email, key_name: "New email"
      = render "forms/vertical/email_field", form: form, object: current_user, key: :email_confirmation

  .text-center
    = link_to "#", class: "btn btn-lg btn-success btn-shadow", data: { object: "submit", target: "#email-form"  } do
      Update email
