- @title = "Change Password"

.page-box.last-box.background-p50-grey.center-vertically-xs-sm
  .panel
    %h1= @title

    = form_with(model: current_user, url: settings_change_password_path, method: :patch, local: true, id: "password-form") do |form|
      = render "forms/vertical/password_field", form: form, object: current_user, key: :current_password, key_name: "Old password", autocomplete: "current-password"
      = render "forms/vertical/password_field", form: form, object: current_user, key: :password, key_name: "New password", autocomplete: "new-password"
      = render "forms/vertical/password_field", form: form, object: current_user, key: :password_confirmation, key_name: "Confirm new password", autocomplete: "new-password"

  .text-center
    = link_to "#", class: "btn btn-lg btn-success btn-shadow", data: { object: "submit", target: "#password-form"  } do
      Update password
