- @title = "Change Password"

.page-box.last-box.background-p50-grey.center-vertically-xs-sm
  .panel
    %h1= @title

    = form_with(model: current_user, url: settings_change_password_path, method: :patch, local: true, id: "password-form") do |form|
      .form-group
        = render "layouts/label_or_errors", form: form, object: current_user, key: :current_password, key_name: "Current Password"
        = form.password_field :current_password, class: "form-control #{"is-invalid" if current_user.errors.key?(:current_password)}", autocomplete: "off"

      .form-group
        = render "layouts/label_or_errors", form: form, object: current_user, key: :password, key_name: "New Password"
        = form.password_field :password, class: "form-control #{"is-invalid" if current_user.errors.key?(:password)}", autocomplete: "off"

      .form-group
        = render "layouts/label_or_errors", form: form, object: current_user, key: :password_confirmation, key_name: "Password Confirmation"
        = form.password_field :password_confirmation, class: "form-control #{"is-invalid" if current_user.errors.key?(:password_confirmation)}", autocomplete: "off"

  .text-center
    = link_to "#", class: "btn btn-lg btn-success btn-shadow", data: { object: "submit", target: "#password-form"  } do
      Update password
