- @title = "Change Password"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    %h1= @title

    = form_with(model: current_user, url: settings_change_password_path, method: :patch, local: true) do |form|
      .form-group
        = render 'layouts/label_or_errors', form: form, object: current_user, key: :current_password, key_name: 'Current Password'
        = form.password_field :current_password, class: 'form-control', autocomplete: 'off'

      .form-group
        = render 'layouts/label_or_errors', form: form, object: current_user, key: :password, key_name: 'New Password'
        = form.password_field :password, class: 'form-control', autocomplete: 'off'

      .form-group
        = render 'layouts/label_or_errors', form: form, object: current_user, key: :password_confirmation, key_name: 'Password Confirmation'
        = form.password_field :password_confirmation, class: 'form-control', autocomplete: 'off'

      .form-group.submit-btn-container
        = submit_tag 'Update Password', class: 'btn btn-primary'
