- @title = "Settings"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .panel{ style: "width: 100%;" }
    %h1= @title

    .card-deck
      .card
        .card-body
          %h4.card-title
            My Profile


          %ul
            - unless current_user.first_login?
              %li= link_to "Update my password.", settings_password_path
            %li= link_to "Update my date of birth.", complete_profile_path
            %li= link_to "Update my address.", complete_profile_path

      .card
        .card-body
          %h4.card-title
            = render "layouts/logo"

          %ul
            %li= link_to "View consent.", consent_path
            %li= link_to "Leave study.", consent_path, method: :delete, class: "text-danger", data: { confirm: "Withdraw from SleepINNOVATE study?" }

          - unless current_user.first_login?
            - if !current_user.biobank_registration_step? && !current_user.biobank_registration_started?
              %h4.card-title Biobank
              %ul
                %li= link_to "Start Biobank registration.", biobank_start_path, method: :post

            - if current_user.biobank_registration_started? && !current_user.biobank_registration_completed?
              %h4.card-title Biobank
              %ul
                %li= link_to "I've completed the Biobank registration.", biobank_complete_path, method: :post
