%p{ style: p_style }
  Dear Study Participant,

%p{ style: p_style }
  Thank you for your continued participation in the
  = render "layouts/mailer/logo"
  study.

%p{ style: p_style }
  We appreciate your prior input and would like you to complete another set of
  survey questions and brief brain quizzes. Your input is valuable to us as we
  see how health changes over time.

%p{ style: p_style }
  These survey questions will take approximately 15-20 minutes to complete and
  the brain quizzes will take 10-15 minutes.

%p{ style: p_style }
  %span{ style: emphasis_style }
    Please follow the link below to access your survey account on the
    = render "layouts/mailer/logo"
    website.

%p{ style: center_style }
  = link_to "Begin Your #{@event.name}", ENV["website_url"], style: link_style

%p{ style: p_style }
  Thank you again for your participation!

= render "layouts/mailer/technical_help"

%p{ style: p_style }
  Thank you,
%p{ style: p_style }
  = render "layouts/mailer/logo"
  study team
