- @title = "Sign in"

.page-box.last-slide.background-p50-grey
  .sign-up-form
    .sign-up-form-title
      Sign in

    = form_with model: resource, url: session_path(resource_name), local: true do |form|
      .form-group{ class: flash[:alert].present? ? "has-danger" : "" }
        = form.label :email, class: "form-control-label"
        = form.text_field :email, class: "form-control form-control-danger", autocomplete: "off"

      .form-group{ class: flash[:alert].present? ? "has-danger" : "" }
        = form.label :password, class: "form-control-label"
        %small= link_to "(Forgot password?)", new_password_path(resource_name), tabindex: "-1"
        = form.password_field :password, class: "form-control form-control-danger"
        - if flash[:alert].present?
          %small.form-text.text-danger= flash[:alert].html_safe

      .form-group.submit-btn-container
        = form.submit "Sign in", class: "btn btn-success btn-block"

      - flash[:alert] = nil

  .sign-up-form.text-center
    New to SleepINNOVATE?
    = link_to "Create an account.", pledge_path
