.card{ style: "height: 100%;" }
  .card-block
    .text-center{ style: "font-size: 6rem;" }
      %i.fa.fa-check.text-success
    %h4.card-title All set
    %p.card-text
      %div{ style: "color: #bdbdbd;" }
        Congrats! You completed your
        = succeed "," do
          = link_to "baseline surveys", dashboard_path
        and connected to
        = link_to "Test My Brain", test_my_brain_path, class: "text-warning"
        and
        = succeed "." do
          = link_to "Biobank", biobank_path, class: "text-success"
