.card
  .card-body
    .text-center{ style: "font-size: 6rem;" }
      %i.fa.fa-lightbulb-o.text-warning
    %h4.card-title Brain Quizzes
    - if current_user.brain_percent(current_user.current_event).to_i.zero?
      .progress
        .progress-bar.progress-bar-striped{ role: "progressbar", style: "width: 100%;background-color: #ededed;", aria: { valuenow: "0", valuemin: "0", valuemax: "100" } }
    - else
      .progress
        .progress-bar.progress-bar-striped.bg-warning{ role: "progressbar", style: "width: #{current_user.brain_percent(current_user.current_event)}%;", aria: { valuenow: "#{current_user.brain_percent(current_user.current_event)}", valuemin: "0", valuemax: "100" } }
    %p.card-text
      %div{ style: "color: #bdbdbd;" } Continue testing your brain!
    .text-center
      %p.card-text
        = link_to "#{ENV["test_my_brain_url"]}?id=#{current_user.subject_code}#{current_user.current_event_brain_code}", class: "btn btn-warning btn-shadow" do
          Next brain survey
          %i.fa.fa-caret-right
  - if current_user.next_brain_test.present?
    .card-footer
      .overflow-hidden.nowrap.text-muted.small
        = current_user.next_brain_test
