- if user.refused?
  %p
    %small.text-muted
      Subject refused to join study.
      = succeed "." do
        = link_to unrevoke_admin_user_path(user), method: :post, data: { confirm: "Undo study refusal?" } do
          = icon("fas", "undo")
          Undo study refusal
          %span>
- elsif user.withdrawn?
  %p
    %small.text-muted
      Subject withdrew from study.
      = succeed "." do
        = link_to unrevoke_admin_user_path(user), method: :post, data: { confirm: "Undo study withdrawal?" } do
          = icon("fas", "undo")
          Undo study withdrawal
          %span>
- elsif user.unconsented?
  %p
    %small.text-muted
      Subject has not yet consented to study.
- elsif user.subject_code.blank?
  %p
    %small.text-muted
      Subject code unassigned.
      = succeed "." do
        = link_to assign_subject_admin_user_path(user), method: :post do
          = icon("fas", "user-plus")
          Assign subject code
          %span>

