- if user.admin?
  %h1
    = icon("fas", "user-md")
    = user.full_name
- elsif user.consent_revoked?
  %h1
    = icon("fas", "street-view")
    Subject
- elsif user.unconsented?
  %h1
    = icon("fas", "user-secret")
    Subject
- elsif user.subject_code.present?
  %h1
    = icon("fas", "bed")
    = user.subject_code
- else
  %h1
    = icon("fas", "user-secret")
    Subject
