- @title = "Users"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    %h1
      .float-right= render "layouts/per_page", per_page: 40, object_count: @users.total_count
      = @title

    %table.table.table-striped.table-hover.table-sticky.table-borderless
      %col
      %col{ width: "1px" }
      %thead
        %tr
          %th Name
          %th.text-center Consented
      %tbody
        - @users.each do |user|
          %tr
            %td
              - if user.admin?
                = link_to admin_user_path(user), class: "text-success" do
                  %i.fa.fa-user-md
                  = user.full_name
              - elsif user.refused?
                = link_to admin_user_path(user), class: "small text-muted" do
                  %i.fa.fa-street-view
                  Subject refused to join study
              - elsif user.withdrawn?
                = link_to admin_user_path(user), class: "small text-muted" do
                  %i.fa.fa-street-view
                  Subject withdrew from study
              - elsif Subject.remote_subject_code(user).present?
                = link_to admin_user_path(user) do
                  %i.fa.fa-bed{ title: "Sleep" }
                  = Subject.remote_subject_code(user)
              - elsif user.unconsented?
                = link_to admin_user_path(user), class: "small text-muted" do
                  %i.fa.fa-user-secret
                  Subject has not yet consented
              - else
                = link_to admin_user_path(user), class: "small text-muted" do
                  %i.fa.fa-user-secret
                  Subject code unassigned
              - if user.tester?
                %i.fa.fa-magic{ data: { toggle: "tooltip", title: "Tester" } }
            %td.text-center= simple_check user.consented?

    .d-flex.justify-content-center= paginate @users, theme: "bootstrap"

= Subject.remote_subjects_clear
