- @title = "Users"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    %h1= @title

    %hr

    %table.table.table-striped.table-hover
      %col
      %col{ width: "1px" }
      %thead.thead-inverse
        %tr
          %th Name
          %th.text-center Consented
      %tbody
        - @users.each do |user|
          %tr
            %td
              - if user.admin?
                = link_to admin_user_path(user), class: "text-success" do
                  %i.fa.fa-user-md
                  = user.name
              - elsif user.refused?
                = link_to admin_user_path(user), class: "small text-muted" do
                  %i.fa.fa-street-view
                  Subject refused to join study
              - elsif user.withdrawn?
                = link_to admin_user_path(user), class: "small text-muted" do
                  %i.fa.fa-street-view
                  Subject withdrew from study
              - elsif user.subject_code.present?
                = link_to admin_user_path(user) do
                  %i.fa.fa-bed{ title: "Sleep" }
                  = user.subject_code
              - elsif user.unconsented?
                = link_to admin_user_path(user), class: "small text-muted" do
                  %i.fa.fa-user-secret
                  Subject has not yet consented
              - else
                = link_to admin_user_path(user), class: "small text-muted" do
                  %i.fa.fa-user-secret
                  Subject code unassigned
            %td.text-center= simple_check user.consented?
