- if @user.admin?
  - @title = @user.full_name
- elsif @user.subject_code.present?
  - @title = @user.subject_code
- else
  - @title = "Subject"

.page-box.last-box.background-p50-grey.center-vertically-xs-sm
  .container
    = render "admin/users/title", user: @user
    = render "admin/users/information", user: @user
    = render "admin/users/actions", user: @user

    %hr

    - if @user.admin?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Role
        .col-md-10
          %p.form-control-plaintext Admin
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Name
        .col-md-10
          %p.form-control-plaintext= @user.full_name

    - if @user.tester?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Tester
            %i.fa.fa-magic
        .col-md-10
          %p.form-control-plaintext
            = simple_check true
            %small.text-muted Testers are not included in reports or exports.


    .row{ style: "margin-bottom: 20px;" }
      .col-md-2
        .col-form-label
          %strong Subject Code
      .col-md-10
        %p.form-control-plaintext
          - if @user.subject_code.present?
            %kbd= @user.subject_code
          - elsif @user.unconsented?
            %span Assigned after consent
          - else
            %span Unassigned


    - if @user.consented?
      %p.lead.text-center.mt-5 Study Timeline
      .mb-5= render "users/timeline", user: @user

    %h2{ style: "margin-top: 40px;" } SleepINNOVATE
    %hr
    - if @user.clinic.present?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Clinic
        .col-md-10
          %p.form-control-plaintext
            = @user.clinic
    .row{ style: "margin-bottom: 20px;" }
      .col-md-2
        .col-form-label
          %strong Status
      .col-md-10
        %p.form-control-plaintext
          - if @user.refused?
            Refused
          - elsif @user.withdrawn?
            Withdrawn
          - elsif @user.consented?
            Consented
          - else
            Registered
    - if @user.consented_at.present?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Consented
        .col-md-10
          - if @user.withdrawn?
            %p.form-control-plaintext.text-muted= @user.consented_at.strftime("%-m/%-d/%Y at %-l:%M %p")
          - else
            %p.form-control-plaintext
              %strong.text-success= @user.consented_at.strftime("%-m/%-d/%Y at %-l:%M %p")
    - if @user.refused?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Refused
        .col-md-10
          %p.form-control-plaintext
            %strong.text-warning= @user.consent_revoked_at.strftime("%-m/%-d/%Y at %-l:%M %p")
    - if @user.withdrawn?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Withdrew
        .col-md-10
          %p.form-control-plaintext
            %strong.text-warning= @user.consent_revoked_at.strftime("%-m/%-d/%Y at %-l:%M %p")
    - if @user.consented?
      - Event.order(:month).each do |event|
        - if @user.event_launched?(event)
          .row{ style: "margin-bottom: 20px;" }
            .col-md-2
              .col-form-label
                %strong= event.name
            .col-md-10
              %p.form-control-plaintext
                = @user.event_surveys_completed(event)
                of
                = pluralize(@user.event_surveys_total(event), "survey")
                completed

    %h2{ style: "margin-top: 40px;" } Test My Brain
    %hr
    .row{ style: "margin-bottom: 20px;" }
      .col-md-2
        .col-form-label
          %strong Status
      .col-md-10
        %p.form-control-plaintext
          - if @user.brain_surveys_started?
            Started
          - else
            Not started
    - if @user.brain_surveys_started?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Started
        .col-md-10
          %p.form-control-plaintext
            = @user.brain_started_at.strftime("%-m/%-d/%Y at %-l:%M %p")
    - Event.order(:month).each do |event|
      - if @user.event_launched?(event)
        .row{ style: "margin-bottom: 20px;" }
          .col-md-2
            .col-form-label
              %strong
                Test My Brain
                = event.name
          .col-md-10
            %p.form-control-plaintext
              = @user.brain_surveys_completed(event)
              of
              = pluralize(@user.brain_surveys_count(event), "survey")
              completed

        .row{ style: "margin-bottom: 20px;" }
          .col-md-2
            .col-form-label
              %strong Brain Tests
          .col-md-10
            %p.form-control-plaintext
              - @user.brain_tests.active_tests.where(event: event.slug).each do |brain_test|
                .card.mb-3
                  .card-body
                    %p
                      %strong Battery
                      - battery = User::TEST_MY_BRAIN_SURVEYS.find { |hash| hash[:battery_number] == brain_test.battery_number }
                      = battery[:battery_name] if battery
                      %code= brain_test.battery_number

                    %p
                      %strong Test
                      = brain_test.test_name
                      %code= brain_test.test_number
                    %p
                      %strong Outcomes
                      - json = JSON.parse(brain_test.test_outcomes) rescue json = {}
                      - json.each do |key, value|
                        .row.mb-1.mb-md-0
                          .col-12.col-md.text-md-right
                            %code= key
                          .col-12.col-md= value
                  .card-footer= brain_test.event.capitalize

    %h2{ style: "margin-top: 40px;" } Biobank
    %hr
    .row{ style: "margin-bottom: 20px;" }
      .col-md-2
        .col-form-label
          %strong Status
      .col-md-10
        %p.form-control-plaintext= @user.biobank_status_string

    - if @user.biobank_registration_started?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Started
        .col-md-10
          %p.form-control-plaintext
            = @user.biobank_started_at.strftime("%-m/%-d/%Y at %-l:%M %p")

    - if @user.biobank_registration_completed?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Completed
        .col-md-10
          %p.form-control-plaintext
            = @user.biobank_completed_at.strftime("%-m/%-d/%Y at %-l:%M %p")
