- if @user.admin?
  - @title = @user.full_name
- elsif @user.subject_code.present?
  - @title = @user.subject_code
- else
  - @title = "Subject"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    = render "admin/users/title", user: @user
    = render "admin/users/information", user: @user
    = render "admin/users/actions", user: @user

    %hr

    - if @user.admin?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Role
        .col-md-10
          %p.form-control-plaintext Admin
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Name
        .col-md-10
          %p.form-control-plaintext= @user.full_name

    .row{ style: "margin-bottom: 20px;" }
      .col-md-2
        .col-form-label
          %strong Subject Code
      .col-md-10
        %p.form-control-plaintext
          - if @user.subject_code.present?
            %kbd= @user.subject_code
          - elsif @user.unconsented?
            %span Assigned after consent
          - else
            %span Unassigned

    %h2{ style: "margin-top: 40px;" } SleepINNOVATE
    %hr
    .row{ style: "margin-bottom: 20px;" }
      .col-md-2
        .col-form-label
          %strong Status
      .col-md-10
        %p.form-control-plaintext
          - if @user.refused?
            Refused
          - elsif @user.withdrawn?
            Withdrawn
          - elsif @user.consented?
            Consented
          - else
            Registered
    - if @user.consented_at.present?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Consented
        .col-md-10
          - if @user.withdrawn?
            %p.form-control-plaintext.text-muted= @user.consented_at.strftime("%-m/%-d/%Y at %-l:%M %p")
          - else
            %p.form-control-plaintext
              %strong.text-success= @user.consented_at.strftime("%-m/%-d/%Y at %-l:%M %p")
    - if @user.refused?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Refused
        .col-md-10
          %p.form-control-plaintext
            %strong.text-warning= @user.consent_revoked_at.strftime("%-m/%-d/%Y at %-l:%M %p")
    - if @user.withdrawn?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Withdrew
        .col-md-10
          %p.form-control-plaintext
            %strong.text-warning= @user.consent_revoked_at.strftime("%-m/%-d/%Y at %-l:%M %p")
    - if @user.consented?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Baseline
        .col-md-10
          %p.form-control-plaintext
            = pluralize(@user.baseline_surveys_completed_count, "survey")
            completed

    %h2{ style: "margin-top: 40px;" } Test My Brain
    %hr
    .row{ style: "margin-bottom: 20px;" }
      .col-md-2
        .col-form-label
          %strong Status
      .col-md-10
        %p.form-control-plaintext
          - if @user.brain_surveys_completed?
            Completed
          - elsif @user.brain_surveys_started?
            Started
          - else
            Unknown
    - if @user.brain_surveys_started?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Started
        .col-md-10
          %p.form-control-plaintext
            = @user.brain_started_at.strftime("%-m/%-d/%Y at %-l:%M %p")
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Test My Brain Surveys Completed
        .col-md-10
          %p.form-control-plaintext
            = @user.brain_baseline_surveys_completed
            of
            = @user.brain_baseline_surveys_count
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Brain Tests
        .col-md-10
          %p.form-control-plaintext
            - @user.brain_tests.each do |brain_test|
              .card.mb-3
                .card-body
                  %p
                    %strong Battery
                    - battery = User::TEST_MY_BRAIN_SURVEYS.find { |_battery_name, battery_number| battery_number == brain_test.battery_number }
                    = battery.first if battery
                    %code= brain_test.battery_number

                  %p
                    %strong Test
                    = brain_test.test_name
                    %code= brain_test.test_number
                  %p
                    %strong Outcomes
                    = brain_test.test_outcomes
                .card-footer= brain_test.event.capitalize

    - if @user.brain_surveys_completed?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Completed
        .col-md-10
          %p.form-control-plaintext
            = @user.brain_completed_at.strftime("%-m/%-d/%Y at %-l:%M %p")


    %h2{ style: "margin-top: 40px;" } Biobank
    %hr
    .row{ style: "margin-bottom: 20px;" }
      .col-md-2
        .col-form-label
          %strong Status
      .col-md-10
        %p.form-control-plaintext= @user.biobank_status_string

    - if @user.biobank_registration_started?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Started
        .col-md-10
          %p.form-control-plaintext
            = @user.biobank_started_at.strftime("%-m/%-d/%Y at %-l:%M %p")

    - if @user.biobank_registration_completed?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Completed
        .col-md-10
          %p.form-control-plaintext
            = @user.biobank_completed_at.strftime("%-m/%-d/%Y at %-l:%M %p")
