- if @user.admin?
  - @title = @user.name
- elsif @user.subject_code.present?
  - @title = @user.subject_code
- else
  - @title = "Subject"

.page-box.last-slide.background-p50-grey.center-vertically-xs-sm
  .container
    = render "admin/users/title", user: @user
    = render "admin/users/information", user: @user
    = render "admin/users/actions", user: @user

    %hr

    - if @user.admin?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Role
        .col-md-10
          %p.form-control-static Admin
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Name
        .col-md-10
          %p.form-control-static= @user.name
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Email
        .col-md-10
          %p.form-control-static= @user.email
    - else
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Name
        .col-md-10
          %p.form-control-static{ data: { object: "hover-show", target: "#full-name", target_default: "#full-name-obscurred" } }
            %span#full-name-obscurred= @user.full_name.to_s.gsub(/\B./, "*")
            %span#full-name{ style: "display: none;" }= @user.full_name
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Email
        .col-md-10
          %p.form-control-static{ data: { object: "hover-show", target: "#email", target_default: "#email-obscurred" } }
            %span#email-obscurred= @user.email.to_s.gsub(/\B./, "*")
            %span#email{ style: "display: none;" }= @user.email

    .row{ style: "margin-bottom: 20px;" }
      .col-md-2
        .col-form-label
          %strong Subject Code
      .col-md-10
        %p.form-control-static
          - if @user.subject_code.present?
            %kbd= @user.subject_code
          - elsif @user.unconsented?
            %span Assigned after consent
          - else
            %span Unassigned

    %h2{ style: "margin-top: 40px;" } SleepINNOVATE
    %hr
    .row{ style: "margin-bottom: 20px;" }
      .col-md-2
        .col-form-label
          %strong Status
      .col-md-10
        %p.form-control-static
          - if @user.refused?
            Refused
          - elsif @user.withdrawn?
            Withdrawn
          - elsif @user.consented?
            Consented
          - else
            Registered
    - if @user.consented_at.present?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Consented
        .col-md-10
          - if @user.withdrawn?
            %p.form-control-static.text-muted= @user.consented_at.strftime("%-m/%-d/%Y at %-l:%M %p")
          - else
            %p.form-control-static
              %strong.text-success= @user.consented_at.strftime("%-m/%-d/%Y at %-l:%M %p")
    - if @user.refused?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Refused
        .col-md-10
          %p.form-control-static
            %strong.text-warning= @user.consent_revoked_at.strftime("%-m/%-d/%Y at %-l:%M %p")
    - if @user.withdrawn?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Withdrew
        .col-md-10
          %p.form-control-static
            %strong.text-warning= @user.consent_revoked_at.strftime("%-m/%-d/%Y at %-l:%M %p")
    - if @user.consented?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Baseline
        .col-md-10
          %p.form-control-static
            = pluralize(@user.baseline_surveys_completed_count, "survey")
            completed

    %h2{ style: "margin-top: 40px;" } Test My Brain
    %hr
    .row{ style: "margin-bottom: 20px;" }
      .col-md-2
        .col-form-label
          %strong Status
      .col-md-10
        %p.form-control-static
          - if @user.brain_surveys_completed?
            Completed
          - elsif @user.brain_surveys_started?
            Started
          - else
            Unknown
    - if @user.brain_surveys_started?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Started
        .col-md-10
          %p.form-control-static
            = @user.brain_started_at.strftime("%-m/%-d/%Y at %-l:%M %p")
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Test My Brain Surveys Completed
        .col-md-10
          %p.form-control-static
            = @user.brain_baseline_surveys_completed
            of
            = @user.brain_baseline_surveys_count


    - if @user.brain_surveys_completed?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Completed
        .col-md-10
          %p.form-control-static
            = @user.brain_completed_at.strftime("%-m/%-d/%Y at %-l:%M %p")


    %h2{ style: "margin-top: 40px;" } Biobank
    %hr
    .row{ style: "margin-bottom: 20px;" }
      .col-md-2
        .col-form-label
          %strong Status
      .col-md-10
        %p.form-control-static= @user.biobank_status_string

    - if @user.biobank_registration_started?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Started
        .col-md-10
          %p.form-control-static
            = @user.biobank_started_at.strftime("%-m/%-d/%Y at %-l:%M %p")

    - if @user.biobank_registration_completed?
      .row{ style: "margin-bottom: 20px;" }
        .col-md-2
          .col-form-label
            %strong Completed
        .col-md-10
          %p.form-control-static
            = @user.biobank_completed_at.strftime("%-m/%-d/%Y at %-l:%M %p")
