- @title = "Consent Report - Admin"
- user_scope = User.consented.where(consent_revoked_at: nil)
- user_scope = user_scope.where(clinic: @clinic) if @clinic.present?
.page-box.last-box.background-p50-grey.center-vertically-xs-sm
  .container
    .jumbotron.jumbotron-white.text-center
      .lead.text-muted.nowrap
        Total Consented
        - if @clinic.present?
          at
          %span.badge.badge-light= @clinic
        %sup
          = link_to icon("fas", "asterisk"), "#info", data: { object: "scroll-anchor" }, class: "link-muted"
      .display-1= number_with_delimiter user_scope.count

    - unless @clinic.present?
      .jumbotron.jumbotron-white
        %p.lead.text-muted.nowrap By Clinic

        %table.table.table-striped.table-hover.table-sticky
          %col{ width: "1px" }
          %col
          %thead
            %tr
              %th Clinic
              %th.text-center Consented
          %tbody
            - user_scope.order(:clinic).group_by(&:clinic).each do |clinic, users|
              %tr
                %td
                  - if clinic.present?
                    = link_to clinic, admin_consented_clinic_path(clinic), class: "link-unstyled"
                  - else
                    .text-muted unknown
                %td.text-center= users.count

    .jumbotron.jumbotron-white
      %p.lead.text-muted.nowrap
        By Month
        - if @clinic.present?
          at
          %span.badge.badge-light= @clinic

      %table.table.table-striped.table-hover.table-sticky
        %col{ width: "1px" }
        %col
        %thead
          %tr
            %th Month
            %th.text-center Consented
        %tbody
          - user_scope.order(:clinic).group_by { |u| [u.consented_at.to_date.strftime("%Y-%m"), u.consented_at.strftime("%b '%y")] }.sort_by(&:first).reverse_each do |(_, date), users|
            %tr
              %td.nowrap
                = date
              %td.text-center= users.count


    #info.jumbotron.jumbotron-white
      .small.text-muted
        %sup= icon("fas", "asterisk")
        %strong Total Consented
        does NOT include users who have withdrawn from the
        = render "layouts/logo"
        study.
