.dashboard-container
  .mb-5
    .float-right
      = link_to slice_print_overview_report_path, class: "btn btn-sm btn-outline-dark", data: { turbolinks: false } do
        %i.fa.fa-print
        Print

    .report-title
      Your Sleep Report

    %p
      Once you complete all the surveys, you will receive a personal sleep
      health report that you can print and bring to your doctor. The scores are
      based on commonly used measures. Regardless of your scores, you should
      discuss any sleep health concerns with your doctor.

  - @promis_disturbance = subject.report_promis_disturbance(@data)
  - @promis_impairment = subject.report_promis_impairment(@data)
  - @meq = subject.report_meq(@data)
  - @wpai_work = subject.report_wpai_overall_work_impairment(@data)
  - @wpai_activity = subject.report_wpai_overall_activity_impairment(@data)
  - @well_being_pcornet = subject.report_well_being_pcornet(@data)
  - @bmi = subject.report_bmi(@data)

  .mb-5
    .report-title
      .float-right
        %span.text-accent Your Score
      SLEEP SCALE

  .mb-3.p-3{ class: @promis_disturbance.blank? ? "background-p100-grey text-muted" : nil }
    .report-title
      .float-right
        %span.text-accent
          - if @promis_disturbance
            = @promis_disturbance
          - else
            = render "slice/complete_surveys_to_see_result"
      Sleep Quality
      %span{ style: "font-weight: 300;" } (PROMIS Sleep Disturbance)
    %p
      The Sleep Quality Assessment asked you how well you slept and how
      well-rested you felt during the past seven days. A score greater than 55
      suggest problems with sleep quality. You can follow your score over time-
      if it decreases, this suggests improvement.

  .mb-3.p-3{ class: @promis_impairment.blank? ? "background-p100-grey text-muted" : nil }
    .report-title
      .float-right
        %span.text-accent
          - if @promis_impairment
            = @promis_impairment
          - else
            = render "slice/complete_surveys_to_see_result"
      Sleep Quality
      %span{ style: "font-weight: 300;" } (PROMIS Sleep Related Impairment)
    %p
      The Sleep Quality Assessment asked you how alert, sleepy or tired you are,
      and how this impacted your daily activities during the past seven days. A
      score greater than 55 suggest problems with sleep quality. You can follow
      your score over time- if it decreases, this suggests improvement.

  .mb-3.p-3{ class: @meq.blank? ? "background-p100-grey text-muted" : nil }
    .report-title
      .float-right
        %span.text-accent
          - if @meq
            = @meq
          - else
            = render "slice/complete_surveys_to_see_result"
      Day-Night Rhythms Assessment
      %span{ style: "font-weight: 300;" } (MEQ)
    %p
      The Horne-Ostberg Morningness-eveningness Questionnaire (MEQ) evaluates
      whether you are likely to be a lark (a morning person) or an owl
      (an evening person). Low scores indicate evening types (scores less than
      30), and high scores indicate morning types (score of greater than 30).

  .mb-3.p-3{ class: @wpai_work.blank? ? "background-p100-grey text-muted" : nil }
    .report-title
      .float-right
        %span.text-accent
          - if @wpai_work
            = format("%0.1f", @wpai_work)
          - else
            = render "slice/complete_surveys_to_see_result"
      Work Productivity and Activity Impairment
      %span{ style: "font-weight: 300;" } (WPAI:GH)
    %p
      The scale measures the effect of your health problems on your ability to
      work and perform regular activities. Higher scores indicate more
      difficulty with work and/or productivity.
    - if @wpai_work
      %p
        Work impairment:
        = format("%0.1f", @wpai_work)
    - if @wpai_activity
      %p
        Activity impairment:
        = format("%0.1f", @wpai_activity)

  .mb-3.p-3{ class: @well_being_pcornet.blank? ? "background-p100-grey text-muted" : nil }
    .report-title
      .float-right
        %span.text-accent
          - if @well_being_pcornet
            = @well_being_pcornet
          - else
            = render "slice/complete_surveys_to_see_result"
      Well-Being Questions
      %span{ style: "font-weight: 300;" } (PCORNET)
    %p
      These questions measure your mood and your ability to think. They are
      scored on a 1-5 scale with 1 being the best score (indicating a high level
      of well-being).

  .mb-3.p-3{ class: @bmi.blank? ? "background-p100-grey text-muted" : nil }
    .report-title
      .float-right
        %span.text-accent
          - if @bmi
            = format("%0.1f", @bmi)
          - else
            = render "slice/complete_surveys_to_see_result"

      BMI
      %span{ style: "font-weight: 300;" } (Body mass index)

    %p
      BMI is calculated based on your height and weight.
    %p
      A BMI over 25 puts you in the 'overweight' category. Research has shown that people in this category are more likely to develop severe obstructive sleep apnea.
