- @title = "Complete Your Profile"

.page-box.last-box.background-p50-grey.center-vertically-xs-sm
  .panel
    %h1= @title

    %p
      To access our surveys, brain quizzes and (if eligible) a parking voucher,
      please
      %u sign below
      to complete your profile:

    = form_with(url: profile_signature_submit_path, method: :patch, local: true, id: "profile-form") do |form|
      = hidden_field_tag :data_uri

      #signature-pad.signature-form
        .float-right{ style: "padding-right: 20px;margin-top: -10px;" }
          = link_to "#", data: { action: "clear" }, class: "small" do
            %i.fa.fa-eraser
            %span Clear
            %span.d-none.d-sm-inline Signature
        .m-signature-pad
          %div{ class: "m-signature-pad--body" }
            %div{ style: "margin-top: 15px;margin-left: 15px;" }
              %small.form-text{ style: "color: #bdbdbd;font-style: italic;" } Sign here
            %canvas
          .text-center.sign-with-mouse
            %small.text-muted
              Sign by holding the left mouse button down in the signature box.
              Press
              %strong Clear Signature
              to try again.
          .text-center.sign-with-finger
            %small.text-muted
              Sign using your finger in the signature box.
              Press
              %strong Clear Signature
              to try again.

  .text-center
    = link_to "#", class: "btn btn-lg btn-success btn-shadow", data: { object: "submit-signature", target: "#profile-form"  } do
      Finish enrollment
      %i.fa.fa-caret-right
