.footer-container
  .container
    .footer
      .nowrap.row
        .col
          &copy;
          .d-none.d-sm-inline= Time.zone.today.year
          = link_to "Brigham Sleep", about_path
          - if session[:clinic].present? && (current_page?(root_path) || current_page?(landing_path))
            %small{ style: "color: #bdbdbd;" }
              &middot; Clinic
              = session[:clinic].upcase

        .col.text-center.d-none.d-sm-block
          - if false
            %small.px-2= link_to "Terms", terms_of_service_path
          %small.px-2= link_to "Privacy", privacy_policy_path

        .col.text-right
          %div{ style: "margin-top: -14px;" }
            .d-none.d-sm-inline= link_to "Questions?", contact_path
            .d-inline.d-sm-none
              = link_to icon("fas", "envelope-square", class: "fa-2x"), contact_path, style: "text-decoration: none;"
            &nbsp;
            = image_tag "logos/bwh-logo.png", size: "48x56", alt: ""
            = image_tag "logos/mgh-logo.png", size: "48x56", alt: ""

