%nav.navbar.navbar-expand-lg.navbar-light.background-p100-grey
  .container
    = link_to current_user ? dashboard_path : landing_path, class: "navbar-brand" do
      = render "layouts/logo"

    - if current_user
      %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#navbarNav" }, aria: { controls: "navbarNav", expanded: "false", label: "Toggle navigation" } }
        %span.navbar-toggler-icon

      #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          - if @survey
            %li.nav-item.active
              = link_to "#", class: "nav-link", data: { object: "suppress-click" } do
                %i.fa.fa-heartbeat.d-inline.d-lg-none
                = @survey.name || "Survey"
              %span.sr-only (current)

          - else
            = render "menu/item", title: "Dashboard", path: dashboard_path, icon: "home"
            = render "menu/item", title: "Consent", path: consent_path, icon: "file-text-o" unless current_user.consent_revoked?
        %ul.navbar-nav
          - if current_user.parking_voucher? && session[:clinic].present?
            %li.nav-item{ class: current_page?(parking_path) ? "active" : nil }
              = link_to parking_path, class: "nav-link d-block d-lg-none" do
                %i.fa.fa-car
                Parking
              = link_to parking_path, class: "nav-link text-primary d-none d-lg-block" do
                %i.fa.fa-car
              - if current_page?(parking_path)
                %span.sr-only (current)


          = render "menu/dropdown_account"
    - else
      %ul.navbar-nav
        %li.nav-item{ class: current_page?(new_user_session_path) ? "active" : nil }
          = link_to new_user_session_path, class: "nav-link" do
            %i.fa.fa-lock
            Sign in
          - if current_page?(new_user_session_path)
            %span.sr-only (current)
