%nav.navbar.fixed-top.navbar-expand-lg.navbar-light.background-p100-grey
  .container
    = link_to current_user ? dashboard_path : landing_path, class: "navbar-brand" do
      = render "layouts/logo"

    %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: "#navbarNav" }, aria: { controls: "navbarNav", expanded: "false", label: "Toggle navigation" } }
      %span.navbar-toggler-icon

    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        - if current_user
          = render "menu/item", title: "Consent", path: consent_path unless current_user.consent_revoked?
      %ul.navbar-nav
        - if current_user
          = render "menu/item_icon", title: "Parking", path: parking_path, icon: "car", color: "primary" if current_user.parking_voucher?
          = render "menu/dropdown_account"
        - else
          %li.nav-item{ class: current_page?(new_user_session_path) ? "active" : nil }
            = link_to new_user_session_path, class: "nav-link" do
              %i.fa.fa-lock
              Sign in
            - if current_page?(new_user_session_path)
              %span.sr-only (current)
