!!!
%html{ lang: "en" }
  %head
    = render "layouts/head/title"
    = render "layouts/head/meta"
    = render "layouts/head/favicons"
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", data: { turbolinks_track: "reload" }
    = javascript_include_tag "application", data: { turbolinks_track: "reload" }
    = javascript_tag "var root_url='#{request.script_name + '/'}';"
  %body#top.full-page{ class: yield(:body_class) }
    #top-menu= render "layouts/menu"
    = render "layouts/flash_bar"
    = yield :header
    .container.body-content= yield
    = yield :footer
